<footer class="bg-white rounded-lg m-4 w-auto">
  <div class="mx-auto p-4 md:py-8">
    <div class="sm:flex flex-cols sm:items-center sm:justify-between">
      <a
        href="#"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img
          src="../../../../assets/private-files/LogoGymBuddyColor.svg"
          alt="Logo de GymBuddy"
          width="80px"
        />
      </a>
      <span class="span1 block text-lg lg:text-center">© 2024 GymBuddy, Inc</span>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 GymBuddy, Inc. All Rights Reserved.</span
    >
  </div>
</footer>
